@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,600&display=swap");

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: #222;
}

h4,
h5,
h6,
button {
  font-family: "Poppins", sans-serif;
}

#headerTitle {
  font-weight: 600;
  font-style: italic;
  font-size: 2.1rem;
  letter-spacing: 1px;
}
